# Version control
.git
.gitignore

# Doc
README.md

# Test Area
prediction_complete.py
create_daily_raster_s2.py
GRID-ALLCALSSES-COL9.geojson
model.py


# Python
__pycache__/
*.pyc
venv/


# Logs
*.log
logs/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Environment
.env
.env.local
