# Environment
.env
.env.local

# Google Earth Engine Credentials
*.json
!package.json
!package-lock.json
*.pem
*.key


# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Python
__pycache__/
venv/
venvActivate.sh

# Logs
*.log
logs/


# SQL
*.sql


# Daily Images
daily_mosaic/

# Notebook Aux
.ipynb_checkpoints/
*.ipynb

# Model Aux
eval/
train/
model/
codigo.zip

# Output
output/
output_v4/


# Test Area
check_img/
test_keras.py
run_sag_v4.sh
sagPrediction_test_v4.py
sagPrediction_v0.py


# Temp Files
helper.sh
helper_run_sag_nov_2025.sh
*.req
*.DS_Store

# Checkpoint 
# *Lógica abre-fecha*
checkpoint/*
SAG_Docker_build_test/checkpoint/*
SAG_Docker_build_test/docker_source_code/checkpoint/*



model.py
create_daily_raster_s2.py
prediction_complete.py
GRID-ALLCALSSES-COL9.geojson
